@{
    ViewBag.Title = "板块列表";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table id="dg"
       data-options="rownumbers:true,singleSelect:true,pagination:true,url:'getboardlist',method:'get'">
    <thead>
        <tr>
            <th data-options="field:'id',width:80">ID</th>
            <th data-options="field:'name',width:100">名称</th>
            <th data-options="field:'addtime',width:80,align:'right',formatter:formatDatetime">添加时间</th>       
            <th data-options="field:'status',width:60,align:'center',formatter:formatStatus">状态</th>
            <th data-options="field:'_operate',width:80,align:'center',formatter:formatOper">操作</th>
        </tr>
    </thead>
</table>

<div id="opratewindow" class="easyui-window" title="新增板块" data-options="modal:true,closed:true,name:'edit'"
     style="width:300px;height:285px;padding:10px;">

    <form id="ff" method="post" action="/admin/addboard" @*enctype="multipart/form-data"*@>
        <div style="margin-bottom:10px">
            <input class="easyui-textbox" name="name" id="name" style="width:100%" data-options="label:'名称：',required:true" />
        </div>
        <div style="margin-bottom:10px">
            <input class="easyui-textbox" name="intro" id="menucontroller" style="width:100%" data-options="label:'描述：',required:true" />
        </div>
        <div style="margin-bottom:10px">
            <input class="easyui-textbox" name="avatar" id="menuaction" style="width:100%" data-options="label:'图片：',required:true" />
        </div>
        <div style="margin-bottom:10px">
            <input class="easyui-checkbox" name="status" id="menuenable" value="true" data-options="label:'是否启用：'" />
        </div>
        <div style="text-align:center;padding:5px 0">
            <input class="easyui-linkbutton" style="width:80px;height:30px;" type="submit" value="提交" />
        </div>
    </form>
    </div>
    <script type="text/javascript">


        function SetStatus(status, id) {
            var opr = status == 1 ? "禁用" : "启用";
            $.messager.confirm('友情提示', '是否要' + opr + '?', function (r) {
                if (r) {
                    $.post("SetStatus", { "status": status, "id": id },
                   function (data) {
                       if (data.res == 1) {
                           $('#dg').datagrid('reload');//刷新
                       }
                       else {
                           $.messager.alert('操作失败。');
                       }
                   }, "json");
                }
            });
        }

        function formatOper(val, row) {
            var res = "";
            res += '<a href="#" onclick="editBoard(' + val + ')">修改</a>';
            res += '&nbsp;&nbsp;';
            if (row.status == 1) {
                res += '<a href="#" onclick="SetStatus(' + row.status + ',' + row.id + ')">禁用</a>';
            }
            else {
                res += '<a href="#" onclick="SetStatus(' + row.status + ',' + row.id + ')">启用</a>';
            }
            return res;
        }

        function editBoard(index) {
            $('#dg').datagrid('selectRow', index);// 关键在这里
            var row = $('#dg').datagrid('getSelected');
            if (row) {
                $('#dlg').dialog('open').dialog('setTitle', '修改板块信息');
                $('#fm').form('load', row);
                url = '${ctx}updateStudent.do?id=' + row.id;
            }
        }


        function formatStatus(val, row) {
            if (val == 1) {
                return '<span class="icon-ok">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>';
            } else {
                return '<span class="icon-no">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>';
            }
        }

        function formatDatetime(value, row) {
            var dateMat = new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10));
            var year = dateMat.getFullYear();
            var month = dateMat.getMonth() + 1;
            var day = dateMat.getDate();
            return year + "-" + month + "-" + day;
        }


        $(function () {
            var pager = $('#dg').datagrid().datagrid('getPager');	// get the pager of datagrid
            pager.pagination({
                buttons: [{
                    iconCls: 'icon-search',
                    handler: function () {
                        //alert('search');
                    }
                }, {
                    iconCls: 'icon-add',
                    handler: function () {
                        //alert('add');
                        $('#opratewindow').window('open');
                    }
                }, {
                    iconCls: 'icon-edit',
                    handler: function () {
                        // alert('edit');
                    }
                }]
            });
        })
    </script>

